* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(192, 192, 192);
}

#header {
    height: 100px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    border-bottom: 8px goldenrod solid;
}

#header h1 {
    font-size: 30px;
    padding: 35px 20px;
    background-color: teal;
    color: white;
    width: 157px;
    position: absolute;
    left: 170px;
    border-radius: 10px;
}

#nav {
    text-align: right;
    font-size: 20px;
    position: absolute;
    right: 160px;
    top: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    padding: 5px 10px;
    color: black;
}

li a:hover {
    color: rgb(177, 177, 177);
}

#bio {
    margin: auto;
    width: 900px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

#bio h1 {
    padding: 20px 0;
    font-size: 30px;
    color: teal;
    font-weight: bold;
}

#body img {
    float: left;
    margin-right: 20px;
}


#bio p {
    margin-top: 20px;
    line-height: 2;
}

#footer {
    border-top: 8px goldenrod solid;
    padding: 25px 0;
    color: white;
    text-align: center;
    margin-top: 20px;
    background-color: teal;
}